<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/style3.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>
	<header>
		<h2>
	Flavor World
		</h2>
	</header>


 <div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav">
      <ul>
        <li><a href="../views/top.html">Top</a></li>  
        <li><a href="../views/login.jsp">Login</a></li> 
        <li><a href="../views/item.jsp">Shopping</a></li> 
        <li><a href="../views/admin.jsp">Admin Login</a></li>  
      </ul>
   </nav>
   
    <main>
   <section id="box1" class="box" data-section-name="about">
		 <h2>ABOUT</h2>
		 <p>まだ未成年の方、お酒が苦手な方、<br>
			 よく見るソフトドリンクに飽きている方、、、
			 <br><br>
		  いろんなノンアルコール飲料ユーザーの方のために<br>
		   世界各国のノンアルコール飲料だけを集めた<br>
		   ノンアルコール飲料専門店です。</p>
   </section>

  <section id="box2" class="box" data-section-name="message"> 
	<h2> SHOP MESSAGE</h2>
      <p>ノンアルコールドリンクと共にいきる。<br>
		 そんなFlavor Worldのスタイル
	  </p>

      <p>お酒離れといわれている昨今。<br>
		 自分の本当に好きな<br>
		 ノンアルコールドリンクを見つけることも<br>
		 小さな幸せにつながるのではないでしょうか。<br>
	  </p>
   </section>
     
     <section id="box3" class="box" data-section-name="shop">
		 <h2>SHOP</h2>
		 <p>世界中のノンアルコールドリンクが自宅で楽しめる！<br>
		 ホームパーティーにももってこいのラインナップ。<br>
		 <br>
      お酒の飲めない人にプレゼントでもつかえます！！</p>
      
      <!--/slider-->
      <ul class="slider">
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/1.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/2.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/3.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/4.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/5.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/6.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/7.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/8.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/9.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/10.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/11.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/12.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/13.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/14.jpg" alt=""></a></li>
       <li><a href="http://localhost:8080/ShoppingSite/views/item.jsp"><img src="../img/15.jpg" alt=""></a></li>
      </ul>
	
      <button onclick="location.href='http://localhost:8080/ShoppingSite/views/login.jsp'">ショップへ</button>
      
	 </section>
     
	 <section id="box4" class="box" data-section-name="acsess">
		 <h2>ACSESS</h2>
		 
		 <p>「Flavor World Cafe」<br>
		     落ち着ける空間と<br>
		     様々なノンアルコールドリンクが楽しめるお店</p>
		 <p>〒１×４-△８〇<br>
		 東京都〇〇××<br>
		 １－２－３４<br>
		 △△駅から徒歩５分
	  </p>

      <p><br>
	  </p>
	 </section>
</main>
<footer id="footer">
  <small>&copy; copyright.</small>
</footer>

<script src="../js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!--自作のJS-->
<script src="../js/menu.js"></script>
</body>
</html>